.sidebar{
    width:60px;
    background:#111;
    height:100vh;
}
.sidebar:hover{
    width:200px;
}
.sidebar a{
    color:white;
    display:block;
    padding:15px;
    text-decoration:none;
}
.content{
    width:100%;
}